attrs==19.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
idna==2.9
jellyfish==0.7.2
lib50==2.0.8
pexpect==4.8.0
Pillow==7.1.0
ptyprocess==0.6.0
pycparser==2.20
pygame==1.9.6
PyYAML==5.4
requests==2.23.0
six==1.14.0
submit50==3.0.2
termcolor==1.1.0
urllib3==1.25.8
